<div>
  <h2 id="page-heading" data-cy="PromocionHeading">
    <span jhiTranslate="pruebaProyectoFinalApp.promocion.home.title">Promocions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pruebaProyectoFinalApp.promocion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-promocion"
        [routerLink]="['/promocion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pruebaProyectoFinalApp.promocion.home.createLabel"> Create a new Promocion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="promocions?.length === 0">
    <span jhiTranslate="pruebaProyectoFinalApp.promocion.home.notFound">No promocions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="promocions && promocions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.porcentajeDescuento">Porcentaje Descuento</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.fechaInicio">Fecha Inicio</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.fechaFin">Fecha Fin</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.tipoPromocion">Tipo Promocion</span></th>
          <th scope="col"><span jhiTranslate="pruebaProyectoFinalApp.promocion.servicios">Servicios</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promocion of promocions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/promocion', promocion.id, 'view']">{{ promocion.id }}</a>
          </td>
          <td>{{ promocion.nombre }}</td>
          <td>{{ promocion.descripcion }}</td>
          <td>{{ promocion.porcentajeDescuento }}</td>
          <td>{{ promocion.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ promocion.fechaFin | formatMediumDatetime }}</td>
          <td>{{ promocion.tipoPromocion }}</td>
          <td>
            <span *ngFor="let servicios of promocion.servicios; let last = last">
              <a class="form-control-static" [routerLink]="['/servicio', servicios.id, 'view']">{{ servicios.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/promocion', promocion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/promocion', promocion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(promocion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
