<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-agenda-heading" data-cy="AgendaCreateUpdateHeading" jhiTranslate="pruebaProyectoFinalApp.agenda.home.createOrEditLabel">
        Create or edit a Agenda
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaProyectoFinalApp.agenda.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaProyectoFinalApp.agenda.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="datetime-local"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaProyectoFinalApp.agenda.disponible" for="field_disponible">Disponible</label>
          <input
            type="checkbox"
            class="form-check"
            name="disponible"
            id="field_disponible"
            data-cy="disponible"
            formControlName="disponible"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaProyectoFinalApp.agenda.establecimiento" for="field_establecimiento"
            >Establecimiento</label
          >
          <select
            class="form-control"
            id="field_establecimiento"
            data-cy="establecimiento"
            name="establecimiento"
            formControlName="establecimiento"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                establecimientoOption.id === editForm.get('establecimiento')!.value?.id
                  ? editForm.get('establecimiento')!.value
                  : establecimientoOption
              "
              *ngFor="let establecimientoOption of establecimientosSharedCollection; trackBy: trackEstablecimientoById"
            >
              {{ establecimientoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
