<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="categoriaProducto">
      <h2 data-cy="categoriaProductoDetailsHeading">
        <span jhiTranslate="pruebaProyectoFinalApp.categoriaProducto.detail.title">Categoria Producto</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ categoriaProducto.id }}</span>
        </dd>
        <dt><span jhiTranslate="pruebaProyectoFinalApp.categoriaProducto.nombre">Nombre</span></dt>
        <dd>
          <span>{{ categoriaProducto.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="pruebaProyectoFinalApp.categoriaProducto.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ categoriaProducto.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="pruebaProyectoFinalApp.categoriaProducto.establecimiento">Establecimiento</span></dt>
        <dd>
          <div *ngIf="categoriaProducto.establecimiento">
            <a [routerLink]="['/establecimiento', categoriaProducto.establecimiento?.id, 'view']">{{
              categoriaProducto.establecimiento?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/categoria-producto', categoriaProducto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
